/*!
LaSOT Website
 */

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
  body {
    padding-top: 60px;
  }
}

@media (min-width: 734px) {
  body {
    padding-top: 60px;
  }
}

@media (max-width: 733px) {
  body {
    padding-top: 108px;
  }
}

@media (max-width: 573px) {
  body {
    padding-top: 148px;
  }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.col-xs-10ths,
.col-sm-10ths,
.col-md-10ths,
.col-lg-10ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-10ths {
    width: 10%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-10ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-10ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-10ths {
        width: 10%;
        float: left;
    }
}


section {
  padding: 30px 0 0 0;
}

.bg_video {
  position: relative;

}

#bg_video {
  display: block;
  width:100%;
  height: 100%;
}

.text_overlay {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  padding: 20px;
}

.text_overlay:hover {
  background: rgba(255, 255, 255, 0.0);
  transition: 0.3s;
}

.category {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.cate_table {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-style: solid;

}

.im_row {
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.im_col {
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-style: solid;
  padding: 0px;
}

.im_column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.im_row [class*='col-'] {
  padding: 0px;
}
.im_row [class*='col-'] img {
  height: 50px;
  width: 89px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  vertical-align: middle;
}

.p_link {
  margin-bottom: 3px;
}

.row + .row {
  border-top:0;
}

.im_desc{
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
}

.im_desc table th{
  border-right: 30px solid transparent;
  padding: 6px;
  width: 160px;
}
.tracker_table td,
.tracker_table th {
  padding-left: 6px;
  padding-right: 6px;
}

.tracker_table td {
  border-top:1px solid #c9ced2;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
	background-color:#e9ecef;
}